{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 2186222 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.article_subhead' %}
    {% include 'custom_fields.articles.wom_lightening_question_2' %}
  </div>
{% endif %}
{% if blog.id == 81026183 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.article_subhead' %}
    {% include 'custom_fields.articles.wom_lightening_question_2' %}
  </div>
{% endif %}