{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.collection_tagline' %}
  {% include 'custom_fields.collections.promo_1_image' %}
  {% include 'custom_fields.collections.promo_1_text' %}
  {% include 'custom_fields.collections.promo_1_link' %}
  {% include 'custom_fields.collections.promo_2_image' %}
  {% include 'custom_fields.collections.promo_2_text' %}
  {% include 'custom_fields.collections.promo_2_link' %}
  {% include 'custom_fields.collections.page_tagline' %}
  {% include 'custom_fields.collections.collection_mobile_image' %}
  {% include 'custom_fields.collections.promo_3_image' %}
  {% include 'custom_fields.collections.promo_3_text' %}
  {% include 'custom_fields.collections.promo_3_link' %}
</div>