{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/of-mercer.myshopify.com/articles/edit-field/45906
{% endcomment %}
{% if article.metafields.custom_fields["wom_lightening_question_1"] != blank %}
  <div class="custom-field custom-field__wom-lightening-question-1 custom-field__type--image">
    <h3 class="custom-field--title">WOM Lightening Question 1</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["wom_lightening_question_1"] }}
    </div>
  </div>
{% endif %}