{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/of-mercer.myshopify.com/products/edit-field/7527
{% endcomment %}
{% if product.metafields.custom_fields["size_guide"] != blank %}
  <div class="custom-field custom-field__size-guide custom-field__type--image">
    <h3 class="custom-field--title">Size Guide</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["size_guide"] }}
    </div>
  </div>
{% endif %}