{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/of-mercer.myshopify.com/articles/edit-field/7986
{% endcomment %}
{% if article.metafields.custom_fields["article_subhead"] != blank %}
  <div class="custom-field custom-field__article-subhead custom-field__type--html">
    <h3 class="custom-field--title">Article Subhead</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["article_subhead"] }}
    </div>
  </div>
{% endif %}