<div class="giftguide-menu">
  <div class="wide-wrapper">
    <ul>      
      <li><a href="#gift-category1">The Homebody</a></li>
        <li><a href="#gift-category2">The Career Beginner</a></li>
        <li><a href="#gift-category3">The Party Starter</a></li>
        <li><a href="#gift-category5">The Classics Buff</a></li>
      <li><a href="#gift-category6">The Creative Type</a></li>
    
      <li><a href="#gift-category7">Bestsellers</a></li>
        
        <!-- li><a href="#gifts-under-150" id="gifts-under-150">Gifts Under $150</a></li -->
<li><a href="#gift-category4">Gift Cards</a></li>
     

    </ul>
  </div>
</div>

