<table>
   <col width="40">
   <col width="100">
   <col width="30">
  <tr> 
    <th>Order by 2pm on:</th>
    <th>Select Shipping Service</th>
    <th>Cost</th>
  </tr>


    
  <tr>
    <td>Friday, Dec 15</td>
    <td>FREE UPS Ground Shipping</td>
     <td>$0</td>
  </tr>
  <tr>
    <td>Monday, Dec 18</td>
    <td>UPS 3-Day Select Shipping</td>
     <td>$0/$15 in select locations</td>
  </tr>
  <tr>

    <td>Wednesday, Dec 20</td>
    <td>UPS Second Day</td>
     <td>$25</td>
    
  </tr>
  <tr>
    <td>Thursday, Dec 21</td>
    <td>UPS Next Day</td>
     <td>$45</td>
  </tr>
  <tr>

 
  </tr>
</table>