<div> <h6 style="text-align:center;padding-bottom:5px;padding-top:10px">Shop LBDs by Feature</h6></div>
<div class="lbd-menu">
  
  <div class="wide-wrapper">
   
    <ul>      
      <li><a href="#Sheath">Sheath</a></li>
        <li><a href="#Aline">A-Line</a></li>
        <li><a href="#Waist">Waist-Defining</a></li>
        <li><a href="#Sleeves">Long-Sleeved</a></li>


    </ul>
  </div>
</div>

