{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.product_tagline' %}
  {% include 'custom_fields.products.size_guide_text' %}
  {% include 'custom_fields.products.size_guide' %}
  {% include 'custom_fields.products.size_guide_text_2' %}
  {% include 'custom_fields.products.product_fit' %}
  {% include 'custom_fields.products.product_fit_image' %}
  {% include 'custom_fields.products.product_fabric' %}
  {% include 'custom_fields.products.product_facts' %}
  {% include 'custom_fields.products.product_tip_link' %}
  {% include 'custom_fields.products.product_tip' %}
  {% include 'custom_fields.products.product_tip_image' %}
  {% include 'custom_fields.products.product_seen_on_link' %}
  {% include 'custom_fields.products.product_seen_on' %}
  {% include 'custom_fields.products.product_seen_on_image' %}
  {% include 'custom_fields.products.preorder_message' %}
  {% include 'custom_fields.products.product_description_maternity' %}
  {% include 'custom_fields.products.product_tip_image_maternity' %}
</div>