<div id="size-chart"><p>Straight Size Body Measurements (fit to size 6)</p></div>
<table>
  <col width="40">
  <col width="40">
   <col width="60">
   <col width="60">
   <col width="60">
  <tr>
    <th colspan="2" >Size</th>   
    <th>Bust</th>
    <th>Waist</th>
    <th>Hip</th>
  </tr>
  <tr>
    <td>00</td>
    <td style="vertical-align:middle" rowspan="2">XS</td>
    <td>32</td>
    <td>24</td>
    <td>34</td>
  </tr>
  <tr>
    <td>0</td>
    <td>33</td>
    <td>25</td>
    <td>35</td>
  </tr>
  <tr>
    <td>2</td>
      <td style="vertical-align:middle" rowspan="2">S</td>
    <td>34</td>
    <td>26</td>
    <td>36</td>
  </tr>
  <tr>
    <td>4</td>
    <td>35</td>
    <td>27</td>
     <td>37</td>
  </tr>
  <tr>
    <td>6</td>
     <td style="vertical-align:middle" rowspan="2">M</td>
    <td>36</td>
     <td>28</td>
      <td>38</td>
  </tr>
  <tr>
    <td>8</td>
    <td>37</td>
    <td>29</td>
     <td>39</td>
  </tr>
  <tr>
    <td>10</td>
     <td style="vertical-align:middle" rowspan="2">L</td>
    <td>38</td>
    <td>30</td>
     <td>40</td>
  </tr>
   <tr>
    <td>12</td>
    <td>39.5</td>
    <td>31.5</td>
     <td>41.5</td>
  </tr>
   <tr>
    <td>14</td>
     <td>XL</td>
    <td>41</td>
    <td>33</td>
     <td>43</td>
  </tr>
  
  </table>

<div id="size-chart"><p><br>Plus Size Body Measurements (fit to size 16W)</p></div>

<table>
  <col width="40">
  <col width="40">
   <col width="60">
   <col width="60">
   <col width="60">
  <tr>
    <th colspan="2" >Size</th>   
    <th>Bust</th>
    <th>Waist</th>
    <th>Hip</th>
  </tr>


    
  <tr>
    <td></td>
     <td>0X</td>
    <td>38</td>
    <td>30</td>
     <td>40</td>
  </tr>
  <tr>
    <td>14W</td>
     <td style="vertical-align:middle" rowspan="2">1X</td>
    <td>42</td>
    <td>34.5</td>
     <td>45</td>
  </tr>
  <tr>
    <td>16W</td>
    <td>44</td>
    <td>36.5</td>
     <td>47</td>
  </tr>
  <tr>
    <td>18W</td>
     <td style="vertical-align:middle" rowspan="2">2X</td>
    <td>46</td>
    <td>38.5</td>
     <td>49</td>
  </tr>
  <tr>
    <td>20W</td>
    <td>48</td>
    <td>40.5</td>
     <td>51</td>
  </tr>
</table>