{% assign page_meta_info = ['page'].metafields.custom_fields %}
{% if page_meta_info['page_tagline'].size > 0 %}
	{% assign page_tagline = page_meta_info['page_tagline'] %}
{% else %}
	{% assign page_tagline = 'NYC Store' %}
{% endif %}

<div id="page-lookbook-main">
<div class="page-header">
			<h2>Lookbooks</h2>
		</div>
<div class="wrapper vip">
  	<div class="right">
      <a href="https://www.ofmercer.com/pages/lookbook-6" >  <img src="{{ '1-1-LayayetteWine.jpg' | asset_url }}"/></a>
  	</div>
	<div class="left copy-block-narrow">
      <h2>Finding Work/Life Balance</h2>
      <p></p>
      <a href="https://www.ofmercer.com/pages/lookbook-6" class="btn">View Lookbook</a>
  	</div>
</div>
  
<div class="wrapper vip">
  	<div class="right">
      <a href="https://www.ofmercer.com/pages/of-mercer-irl">  <img src="{{ '1IRL-YogaMat-HR.jpg' | asset_url }}"/></a>
  	</div>
	<div class="left copy-block-narrow">
      <h2>Of Mercer #IRL</h2>
      <p></p>
      <a href="https://www.ofmercer.com/pages/of-mercer-irl" class="btn">View Lookbook</a>
  	</div>
</div>
  
  
  
  <div class="wrapper vip">
  	<div class="right">
      <a href="https://www.ofmercer.com/pages/lookbook-5"> <img src="{{ 'Lemonade-Lookbook-Riverside-Taxi.jpg' | asset_url }}"/></a>
  	</div>
	<div class="left copy-block-narrow">
      <h2>Work Meets Wear</h2>
      <p></p>
      <a href="https://www.ofmercer.com/pages/lookbook-5" class="btn">View Lookbook</a>
  	</div>
</div>
 
  

  
  


  
     

  
  
  
   
 

</div>

<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
//         function crossDomainPost(url, params) {
//         // Add the iframe with a unique name
//         var iframe = document.createElement("iframe");
//         var uniqueString = "cd-form-" + Math.round(Math.random() * 10000);
//         document.body.appendChild(iframe);
//         iframe.style.display = "none";
//         iframe.contentWindow.name = uniqueString;

//         // construct a form with hidden inputs, targeting the iframe
//         var form = document.createElement("form");
//         form.target = uniqueString;
//         form.action = url;
//         form.method = "POST";

//         // repeat for each parameter
//         for (var param_name in params) {
//             var input = document.createElement("input");
//             input.type = "hidden";
//             input.name = param_name;
//             input.value = params[param_name];
//             form.appendChild(input);
//         }

//         document.body.appendChild(form);
//         form.submit();
//     }
// 	jQuery( document ).ready(function($) {
// 	$('#nyc-mailing-list .btn').click(function(e) {
//       e.preventDefault();

//         var email = $('input#user-email').val();
//       	console.log(email);

//         if (!email) {
//             // parent.find('.email .form-error').removeClass('hidden');
//         } else {
//             $.cookie('joined_mailing_list', true, {expires: 36500, path: "/"});
//             // submit to analytics
//             analytics.alias(email);
//             analytics.identify(email, {
//                 email: email
//             });

//             analytics.track('Joined Mailing List', {
//                 referring_page: document.title.split(' | ')[0]
//             });

//             // send to google docs

//             crossDomainPost('https://docs.google.com/forms/d/14w08DL0TGgGbiFwEtNMyNyq-YxhtXjM0lFBoyGb_Edg/formResponse', {
//                 'entry.659530670': email,
//                 'entry.1989690552': document.title.split(' | ')[0]
//             });

//             parent.html("<center><span class=newsHeader></span><p class=popupthankyou>Thank you for joining us!</p></center>");
//             $('#newsBox').height(160);
//         }
//     });
//   });
</script>