<div class="basic-page">
  
	{{ page.content }}
  <div class=" ">
   {% include 'lookbooks-app' %}
  </div>
<div class="clear"></div>
  <div style="padding-top:30px; padding-bottom:30px;" class="copy-block-narrow">      
      <a href="https://www.ofmercer.com/pages/brand-lookbooks" class="btn">Return to Lookbooks</a>
  	</div>
  
</div>

<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>