<div id="page">
  
<!--googleoff: snippet--> <div class="page-header">
			<h2>{{ page.title }}</h2>
		</div> <!--googleon: snippet-->
{{ page.content }}
  
  <div> [powr-photo-gallery id=feed558d_1455823818981]</div>
</div>


<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>