<div class="basic-page" id="page-event-rsvp">

	
	<div class="event-header">
		<p>You're invited to our</p>
		<!--googleoff: snippet-->
			
      <h2>Boston Pop-Up Shop Launch Party</h2>      
      <div class=" copy-block wrapper slimmest-wrapper">
		<!--googleon: snippet-->      

        <p>Come celebrate the opening of our new Boston storefront!
          We’ll have delicious food, sparkling cocktails compliments of 
          Mighty Swell, and of course, shopping! We can't wait to meet you!</p>      

	  	</div>
      	</div>
      

   

  <div class="wrapper vip">
  	<div class="right">
      <img src="{{ 'BostonStoreImage2.jpg' | asset_url }}"/>
  	</div>
	<div class="left copy-block-narrow">
     
        <h3>WHEN</h3>
      <p>Wednesday, October 4th<br>6:00 - 8:00pm</p>
          <h3>WHERE</h3>
  <p>Of Mercer Boston Pop-Up Shop<br>127 Newbury Street Boston, MA 02116</p>
     <h3>RSVP</h3>
      <div class="wrapper slim-wrapper" style="padding-top:5px">
        <iframe id="JotFormIFrame-70794340246962" onload="window.parent.scrollTo(0,0)" allowtransparency="true" src="https://form.jotformpro.com/70794340246962" frameborder="0" style="width:100%; height:539px; border:none;" scrolling="no"> </iframe> <script type="text/javascript"> var ifr = document.getElementById("JotFormIFrame-70794340246962"); if(window.location.href && window.location.href.indexOf("?") > -1) { var get = window.location.href.substr(window.location.href.indexOf("?") + 1); if(ifr && get.length > 0) { var src = ifr.src; src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get; ifr.src = src; } } window.handleIFrameMessage = function(e) { var args = e.data.split(":"); if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[2]); } else { iframe = document.getElementById("JotFormIFrame"); } if (!iframe) return; switch (args[0]) { case "scrollIntoView": iframe.scrollIntoView(); break; case "setHeight": iframe.style.height = args[1] + "px"; break; case "collapseErrorPage": if (iframe.clientHeight > window.innerHeight) { iframe.style.height = window.innerHeight + "px"; } break; case "reloadPage": window.location.reload(); break; } var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false; if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) { var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)}; iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*"); } }; if (window.addEventListener) { window.addEventListener("message", handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent("onmessage", handleIFrameMessage); } </script>
		</div>
      	</div>
</div>

  <div class=" copy-block wrapper slimmest-wrapper">
		<!--googleon: snippet-->      

    <p>Want more details on our stay in Boston?<br>Visit our <a href="https://www.ofmercer.com/pages/boston-pop-up">Boston Pop-Up Shop page</a>.</p>      

	  	</div>

  </div>

<script type="text/javascript">
  $(function(){
    analytics.page(unescape("{{ page.title | escape }}"));
  });
</script>